__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/

.env
.env.*

data/raw/
data/processed/

mlruns/

.coverage
htmlcov/

.ipynb_checkpoints/

.idea/
.vscode/

*.egg-info/
*.pyc
*.pyo

*.log
